In [33]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
%matplotlib inline

In [34]:
insurance_data = pd.read_csv("D:/dataset/insurance.csv")

In [35]:
insurance_data.head()

    age  gender     bmi  children smoker     region      Premium
0  19.0  female  27.900         0    yes  southwest  16884.92400
1  18.0    male  33.770         1     no  southeast   1725.55230
2  28.0    male  33.000         3     no  southeast   4449.46200
3  33.0    male  22.705         0     no  northwest  21984.47061
4  32.0    male  28.880         0     no  northwest   3866.85520

In [14]:
insurance_data.isnull().sum()

age         3
gender      4
bmi         2
children    0
smoker      0
region      0
Premium     0
dtype: int64

In [28]:
insurance_data['smoker'].value_counts()

no              742
occasionally    403
yes             185
Name: smoker, dtype: int64

In [17]:
insurance_data = insurance_data.dropna()

In [18]:
insurance_data_dummy = pd.get_dummies(insurance_data)

In [19]:
insurance_data_dummy.head()

,age,bmi,children,Premium,gender_female,gender_male,smoker_no,smoker_occasionally,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19.0,27.900,0,16884.92400,1,0,0,0,1,0,0,0,1
1,18.0,33.770,1,1725.55230,0,1,1,0,0,0,0,1,0
2,28.0,33.000,3,4449.46200,0,1,1,0,0,0,0,1,0
3,33.0,22.705,0,21984.47061,0,1,1,0,0,0,1,0,0
4,32.0,28.880,0,3866.85520,0,1,1,0,0,0,1,0,0

In [20]:
features = insurance_data_dummy.drop(['Premium'],axis=1)

In [21]:
target = insurance_data_dummy['Premium']

In [22]:
feature_train,feature_test,target_train,target_test = train_test_split(features,target,test_size=0.3)

In [23]:
feature_train = sm.add_constant(feature_train) ## let's add an intercept (beta_0) to our model

C:\Users\Santosh\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2542: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [29]:
feature_train.head()

,const,age,bmi,children,gender_female,gender_male,smoker_no,smoker_occasionally,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
944,1.0,62.0,39.930,0,0,1,1,0,0,0,0,1,0
1013,1.0,48.0,32.300,1,0,1,1,0,0,0,1,0,0
483,1.0,51.0,39.500,1,1,0,1,0,0,0,0,0,1
740,1.0,45.0,24.035,2,0,1,1,0,0,1,0,0,0
1300,1.0,45.0,30.360,0,0,1,0,0,1,0,0,1,0

In [24]:
model = sm.OLS(target_train, feature_train).fit()

In [25]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                Premium   R-squared:                       0.569
Model:                            OLS   Adj. R-squared:                  0.565
Method:                 Least Squares   F-statistic:                     135.2
Date:                Sun, 24 May 2020   Prob (F-statistic):          9.36e-162
Time:                        12:33:03   Log-Likelihood:                -9673.3
No. Observations:                 931   AIC:                         1.937e+04
Df Residuals:                     921   BIC:                         1.942e+04
Df Model:                           9
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                -305.6690    733.128     -0.417      0.677   -1744.464    1133.126
age                   237.9231     18.509     12.855      0.000     201.599     274.248
bmi                   291.1267     45.260      6.432      0.000     202.302     379.952
children              380.8981    215.617      1.767      0.078     -42.259     804.055
gender_female        -307.1302    444.539     -0.691      0.490   -1179.557     565.296
gender_male             1.4612    455.323      0.003      0.997    -892.130     895.052
smoker_no           -1.011e+04    426.249    -23.717      0.000   -1.09e+04   -9272.827
smoker_occasionally -4716.6794    464.662    -10.151      0.000   -5628.598   -3804.761
smoker_yes           1.452e+04    580.960     24.994      0.000    1.34e+04    1.57e+04
region_northeast       -3.5298    478.013     -0.007      0.994    -941.650     934.590
region_northwest      182.3486    470.475      0.388      0.698    -740.980    1105.677
region_southeast      -11.6000    528.553     -0.022      0.982   -1048.907    1025.707
region_southwest     -472.8878    488.403     -0.968      0.333   -1431.400     485.624
==============================================================================
Omnibus:                      297.133   Durbin-Watson:                   1.981
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              825.774
Skew:                           1.630   Prob(JB):                    4.85e-180
Kurtosis:                       6.264   Cond. No.                     4.71e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.12e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [37]:
import pickle

In [38]:
pickle.dump(model,open("RegressionModel.pkl",'wb'))

In [26]:
import pickle

In [27]:
pickle.dump(model,open("linear_regression.pkl",'wb'))

In [31]:
import statsmodels

In [32]:
statsmodels.__version__

'0.10.1'